# Data analysis in Python with pandas

## To do

* create sample data

* read a tabular data file

* select series/columns from DataFrame

* rename a column in a pandas DataFrame

* remove columns

* sort a DataFrame or Series

* filter rows by column value

* apply multiple filters

* axis in pandas

* string methods

* change data type

* group_by

* explore a pandas series

* missing values

* pandas index

* select multiple rows and columns

* create dummy 

* work with date and time

* remove duplicate rows

* apply function to pandas series or data frame

* multi-index in pandas

* merge dataframes in pandas


* SQL common tasks:
    * select a few rows + eda
    * where filter
    * group by count, count(distinct), sum, avg
    * join
    * case when
    * decile
    * window function qualify rank

In [6]:
import pandas as pd
import numpy as np

## [Pandas tutorials](https://pandas.pydata.org/docs/getting_started/intro_tutorials/index.html)

### if-then/if-then-else on one column, and assignment to another one or more columns:

In [3]:
df = pd.DataFrame(
   {"AAA": [4, 5, 6, 7], "BBB": [10, 20, 30, 40], "CCC": [100, 50, -30, -50]}
   )

df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [4]:
# if-then on one column

df.loc[df.AAA >= 5, "BBB"] = -1
df

   AAA  BBB  CCC
0    4   10  100
1    5   -1   50
2    6   -1  -30
3    7   -1  -50

In [5]:
df.loc[df.AAA >= 5, ["BBB", "CCC"]] = 555

df

   AAA  BBB  CCC
0    4   10  100
1    5  555  555
2    6  555  555
3    7  555  555

In [7]:
# if then else using Numpy's where

df = pd.DataFrame(
   {"AAA": [4, 5, 6, 7], "BBB": [10, 20, 30, 40], "CCC": [100, 50, -30, -50]}
)

df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [9]:
df["logic"] = np.where(df["AAA"] > 5, "high", "low")
df

   AAA  BBB  CCC logic
0    4   10  100   low
1    5   20   50   low
2    6   30  -30  high
3    7   40  -50  high