# Pandas map apply and applymap methods Comparison

## Compare map,apply and applymap

1. Definition
    * map is defined on Series ONLY
    * apply is defined on BOTH DataFrames and Series
    * applymap is defnied on DataFrames ONLY
    
2. Input
    * map - dictionaries,Series or callable objects
    * apply and applymap accept callables objects only
    
3. Behaviour
    * map is element-wise for Series, one element at time
    * apply is element-wise for more complex operations and aggregation, like rows and columns at time
    * applymap is element-wise for DataFrames, one cell at time

4. Use case
    * map is meant to map value from one to another so optimised for performance
    
    (e.g., df['A'].map({1:'a', 2:'b', 3:'c'}))
    
    * apply is is for applying any function that cannot be vectorised 
    
    (e.g., df['sentences'].apply(nltk.sent_tokenize))
    
    * applymap is good for elementwise transformations across multiple rows/columns 
    
    (e.g., df[['A', 'B', 'C']].applymap(str.strip))

### Summary

|                       | map                    | apply               | applymap       |
|-----------------------|------------------------|---------------------|----------------|
| Defined on Series?    | YES                    | YES                 | NO             |
| Defined on DataFrame? | NO                     | YES                 | YES            |
| Aggregation?          | NO                     | YES                 | NO             |
| Use case              | Transformation/mapping | Complex functions   | Transformation |
| Return                | Series                 | Series or DataFrame | DataFrame      |

### Examples

In [1]:
import numpy as np
import pandas as pd

import seaborn as sns

In [4]:
df = pd.DataFrame(np.random.randn(4, 3), columns=list('bde'), index=['Utah', 'Ohio', 'Texas', 'Oregon'])

df

               b         d         e
Utah   -1.016641 -0.542376  0.668147
Ohio    0.509756 -0.533185  0.586519
Texas   0.346233 -0.360527 -0.434182
Oregon -0.186114  1.280291  0.493451

In [13]:
df['b'].map(lambda x: x * -1)

Utah      1.016641
Ohio     -0.509756
Texas    -0.346233
Oregon    0.186114
Name: b, dtype: float64

In [6]:

f1 = lambda x: x.max()-x.min()

df.apply(f1)

b    1.526397
d    1.822666
e    1.102329
dtype: float64

In [7]:
f2 = lambda x: '%.2f' % x

df.applymap(f2)

            b      d      e
Utah    -1.02  -0.54   0.67
Ohio     0.51  -0.53   0.59
Texas    0.35  -0.36  -0.43
Oregon  -0.19   1.28   0.49