In [1]:
import sys
import logging

import numpy as np
import scipy as sp
import sklearn
import statsmodels.api as sm
from statsmodels.formula.api import ols

%load_ext autoreload
%autoreload 2

import matplotlib as mpl
import matplotlib.pyplot as plt
%matplotlib inline
%config InlineBackend.figure_format = 'retina'

import seaborn as sns
sns.set_context("poster")
sns.set(rc={'figure.figsize': (16, 9.)})
sns.set_style("whitegrid")

import pandas as pd
pd.set_option("display.max_rows", 120)
pd.set_option("display.max_columns", 120)

logging.basicConfig(level=logging.INFO, stream=sys.stdout)

In [18]:

df_dates = pd.DataFrame()

df_dates['date'] = pd.date_range('2015-01-01', periods = 72, freq ='D') 
  
# Create features for year, month, day, hour, and minute 
df_dates['year'] = df_dates['date'].dt.year 
df_dates['month'] = df_dates['date'].dt.month 
df_dates['day'] = df_dates['date'].dt.day 
df_dates['weekday_name'] = df_dates['date'].dt.weekday_name
df_dates['month_end'] = df_dates['date'] + pd.offsets.MonthEnd(0)
  
# Print the dates divided into features 
df_dates.head(60)

         date  year  month  day weekday_name  month_end
0  2015-01-01  2015      1    1     Thursday 2015-01-31
1  2015-01-02  2015      1    2       Friday 2015-01-31
2  2015-01-03  2015      1    3     Saturday 2015-01-31
3  2015-01-04  2015      1    4       Sunday 2015-01-31
4  2015-01-05  2015      1    5       Monday 2015-01-31
5  2015-01-06  2015      1    6      Tuesday 2015-01-31
6  2015-01-07  2015      1    7    Wednesday 2015-01-31
7  2015-01-08  2015      1    8     Thursday 2015-01-31
8  2015-01-09  2015      1    9       Friday 2015-01-31
9  2015-01-10  2015      1   10     Saturday 2015-01-31
10 2015-01-11  2015      1   11       Sunday 2015-01-31
11 2015-01-12  2015      1   12       Monday 2015-01-31
12 2015-01-13  2015      1   13      Tuesday 2015-01-31
13 2015-01-14  2015      1   14    Wednesday 2015-01-31
14 2015-01-15  2015      1   15     Thursday 2015-01-31
15 2015-01-16  2015      1   16       Friday 2015-01-31
16 2015-01-17  2015      1   17     Saturday 2015-01-31
17 2015-01-18  2015      1   18       Sunday 2015-01-31
18 2015-01-19  2015      1   19       Monday 2015-01-31
19 2015-01-20  2015      1   20      Tuesday 2015-01-31
20 2015-01-21  2015      1   21    Wednesday 2015-01-31
21 2015-01-22  2015      1   22     Thursday 2015-01-31
22 2015-01-23  2015      1   23       Friday 2015-01-31
23 2015-01-24  2015      1   24     Saturday 2015-01-31
24 2015-01-25  2015      1   25       Sunday 2015-01-31
25 2015-01-26  2015      1   26       Monday 2015-01-31
26 2015-01-27  2015      1   27      Tuesday 2015-01-31
27 2015-01-28  2015      1   28    Wednesday 2015-01-31
28 2015-01-29  2015      1   29     Thursday 2015-01-31
29 2015-01-30  2015      1   30       Friday 2015-01-31
30 2015-01-31  2015      1   31     Saturday 2015-01-31
31 2015-02-01  2015      2    1       Sunday 2015-02-28
32 2015-02-02  2015      2    2       Monday 2015-02-28
33 2015-02-03  2015      2    3      Tuesday 2015-02-28
34 2015-02-04  2015      2    4    Wednesday 2015-02-28
35 2015-02-05  2015      2    5     Thursday 2015-02-28
36 2015-02-06  2015      2    6       Friday 2015-02-28
37 2015-02-07  2015      2    7     Saturday 2015-02-28
38 2015-02-08  2015      2    8       Sunday 2015-02-28
39 2015-02-09  2015      2    9       Monday 2015-02-28
40 2015-02-10  2015      2   10      Tuesday 2015-02-28
41 2015-02-11  2015      2   11    Wednesday 2015-02-28
42 2015-02-12  2015      2   12     Thursday 2015-02-28
43 2015-02-13  2015      2   13       Friday 2015-02-28
44 2015-02-14  2015      2   14     Saturday 2015-02-28
45 2015-02-15  2015      2   15       Sunday 2015-02-28
46 2015-02-16  2015      2   16       Monday 2015-02-28
47 2015-02-17  2015      2   17      Tuesday 2015-02-28
48 2015-02-18  2015      2   18    Wednesday 2015-02-28
49 2015-02-19  2015      2   19     Thursday 2015-02-28
50 2015-02-20  2015      2   20       Friday 2015-02-28
51 2015-02-21  2015      2   21     Saturday 2015-02-28
52 2015-02-22  2015      2   22       Sunday 2015-02-28
53 2015-02-23  2015      2   23       Monday 2015-02-28
54 2015-02-24  2015      2   24      Tuesday 2015-02-28
55 2015-02-25  2015      2   25    Wednesday 2015-02-28
56 2015-02-26  2015      2   26     Thursday 2015-02-28
57 2015-02-27  2015      2   27       Friday 2015-02-28
58 2015-02-28  2015      2   28     Saturday 2015-02-28
59 2015-03-01  2015      3    1       Sunday 2015-03-31