# Pandas Text and String Methods

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

## String Methods

In [59]:
# split string into list, default separator is any whitespace
'apple-banana-orange'.split('-')

['apple', 'banana', 'orange']

In [60]:
# find the first occurrence of the specified value

'apple'.find('p')

1

In [1]:
# swap cases, lower case becomes upper cases and vice versa

'aPPLE'.swapcase()

'Apple'

In [2]:
n = ['apple','and','banana','for','you']
print(' '.join(n))

apple and banana for you